<%- include( './head' ) %>

<header>
        <h1>Catalogus van de Amsterdamse geschiedenis</h1>
	<a href="/">Categorie overview</a>
        <a href="/c/<%= categorie %>"><%= categorie %></a>
	<p><%= data.title %></p>
</header>

<%- include( './details_element', { data: data } ) %>

<%- include( './end' ) %>
